import "github.com/jmoiron/sqlx"
import "github.com/uberbrodt/exemplar/model"
import "fmt"

{{range $import := .Imports}}
import "{{$import.ImportedName}}"
{{end}}

type {{.FinderName}} struct { DB model.ExemplarSqlx }
type {{.StoreName}} struct { DB model.ExemplarSqlx }

{{range $field := .Fields}}
func (store *{{$.FinderName}}) FindBy{{$field.Name | funcCase}}(p {{$field.TypeName}}) (*{{$.StructTypeName}}, error) {
    var x {{$.StructTypeName}}
    sql := "SELECT * FROM {{$.TableName}} WHERE {{nameOrTag $field}} = ? LIMIT 1"
    err := store.DB.QueryRowx(sql, p).StructScan(&x) 
    return &x, err
}

func (store *{{$.FinderName}}) FindBy{{$field.Name | funcCase}}Tx(p {{$field.TypeName}}, tx *sqlx.Tx) (*{{$.StructTypeName}}, error) {
    var x {{$.StructTypeName}} 
    sql := "SELECT * FROM {{$.TableName}} WHERE {{nameOrTag $field}} = ? LIMIT 1"
    
    err := tx.QueryRowx(sql, p).StructScan(&x)
    return &x, err
}

func (store *{{$.FinderName}}) FindSliceBy{{$field.Name | funcCase}}(p {{$field.TypeName}}, orderBy interface{}, limit int, offset int) ([]*{{$.StructTypeName}}, error) {
    x := make([]*{{$.StructTypeName}}, 0)
    sql := "SELECT * FROM {{$.TableName}} WHERE {{nameOrTag $field}} = ? "
    if orderBy != "" {
        sql += fmt.Sprintf("ORDER BY %s ", orderBy)
    }

    if limit > 0 {
        sql += fmt.Sprintf("LIMIT %d ", limit)
    }

    if offset > 0 {
        sql += fmt.Sprintf("OFFSET %d", offset)
    }
    rows, err := store.DB.Queryx(sql, p)
    if err != nil { return x, err }
    defer rows.Close()
    for rows.Next() {
        i := new({{$.StructTypeName}})
        scanErr := rows.StructScan(i)
        if scanErr != nil { return x,scanErr }
        x = append(x, i)
    }
    return x, nil
}

func (store *{{$.FinderName}}) FindSliceBy{{$field.Name | funcCase}}Tx(p {{$field.TypeName}}, tx *sqlx.Tx, orderBy interface{}, limit int, offset int) ([]*{{$.StructTypeName}}, error) {
    x := make([]*{{$.StructTypeName}}, 0)
    sql := "SELECT * FROM {{$.TableName}} WHERE {{nameOrTag $field}} = ? "
    if orderBy != "" {
        sql += fmt.Sprintf("ORDER BY %s ", orderBy)
    }

    if limit > 0 {
        sql += fmt.Sprintf("LIMIT %d ", limit)
    }

    if offset > 0 {
        sql += fmt.Sprintf("OFFSET %d", offset)
    }
    rows, err := tx.Queryx(sql, p)
    if err != nil { return x, err }
    defer rows.Close()
    for rows.Next() {
        i := new({{$.StructTypeName}})
        scanErr := rows.StructScan(i)
        if scanErr != nil { return x,scanErr }
        x = append(x, i)
    }
    return x, nil
}
{{end}}


func (store *{{.StoreName}}) insert(o *{{.StructTypeName}}) error {
    
    sql := "{{insertSQL .Fields .TableName}}"
    _, err := store.DB.NamedExec(sql, o)
    return err
}

func (store *{{.StoreName}}) update(o *{{.StructTypeName}}) error {

    sql := "{{updateSQL .Fields .TableName}}"
    _, err := store.DB.NamedExec(sql, o)
    return err
}

func (store *{{.StoreName}}) insertTx(o *{{.StructTypeName}}, tx *sqlx.Tx) error {
    
    sql := "{{insertSQL .Fields .TableName}}"
    _, err := tx.NamedExec(sql, o)
    if err == nil {
       o.NeedsInsert = false
    }
    return err
}

func (store *{{.StoreName}}) updateTx(o *{{.StructTypeName}}, tx *sqlx.Tx) error {

    sql := "{{updateSQL .Fields .TableName}}"
    _, err := tx.NamedExec(sql, o)
    return err
}
